.ihu_revistaihu_sidebar {
    width: 100%;
    background-color: #EEE;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "Lato",sans-serif;
    margin-bottom: 20px;
}

.ihu_revistaihu_sidebar h2 {
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 20px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.ihu_revistaihu_sidebar img {
    max-width: 100%;
}

.ihu_revistaihu_sidebar .ihu_revistaihu_sidebar_edition {
    color: #fc6b01;
    font-size: 14px;
    padding: 5px 0;
}

.ihu_revistaihu_sidebar .ihu_revistaihu_sidebar_resume {
    color: #000;
    font-size: 14px;
    line-height: 1.2;
}